<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Hızlı Bağlantılar</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white">Anasayfa</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Sosyal Medya</h5>
                <a href="#" class="text-white me-3"><i class="bi bi-facebook"></i></a>
                <a href="#" class="text-white me-3"><i class="bi bi-instagram"></i></a>
                <a href="#" class="text-white"><i class="bi bi-twitter"></i></a>
            </div>
            <div class="col-md-4">
                <h5>İletişim</h5>
                <p><i class="bi bi-telephone"></i> +90 123 456 78 90</p>
                <p><i class="bi bi-envelope"></i> info@diyafonsistemleri.com</p>
            </div>
        </div>
        <p class="mt-4">
            &copy; 2023 Diyafon Sistemleri. Tüm hakları saklıdır.
        </p>
    </div>
</footer>